body {
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

img {
    max-width: 200px;
}
